<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header">
</header>

<!-- Contenido -->
<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">
<h1 th:text="${xd}" class="h1 text-primary text-center my-4"></h1 >
<h1 th:text="${excel}" class="h1 text-primary text-center my-4"></h1 >
</div>
<div class="col-lg-2"></div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">
<h2></h2>
</div>
<div class="col-lg-2"></div>
</div>
</div>

<footer th:replace="plantilla/template :: footer">
</footer>
</body>
</html>