<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header">
</header>

<!-- Contenido -->
<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">
<h1 th:text="${titulo}" class="h1 text-primary text-center my-4"></h1 >
</div>
<div class="col-lg-2"></div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">
<a class="btn btn-primary my-4" th:href="@{/personas/crear}">Insertar Persona  <i class="bi bi-plus-circle"> </i>  </a>
<a target="_blank" class="btn btn-primary my-4 descarga-pdf" th:href="@{/personas/?format=pdf}">Descargar PDF Personas  <i class="bi bi-file-pdf"> </i>  </a >
<a  class="btn btn-primary my-4 descarga-pdf" th:href="@{/personas/?format=xlsx}">Descargar EXCEL Personas  <i class="bi bi-file-pdf"> </i>  </a >
<form th:action="@{/personas/importar/}" method="post" enctype="multipart/form-data" >
<div class="input-group">
<input type="file" name="archivo" id="archivo" class="btn btn-primary form-control " required>
<button type="submit" class="btn btn-primary mx-4" >Importar Personas EXCEL    <i class="bi bi-file-pdf"> </i></button>
</div>
</form>
<table class="table table-responsive table-striped border border-white my-4">
<thead>
<tr>
<th class="bg-primary text-white border border-white">#</th >
<th class="bg-primary text-white border border-white">DNI</th >
<th class="bg-primary text-white border border-white">Nombre</th >
<th class="bg-primary text-white border border-white">Acciones</th >
</tr>
</thead>
<tbody>
<tr  th:each="persona:${personas}">
<td class="bg-primary text-white border border-white" th:text="${persona.id}"></td   >
<td class="bg-primary text-white border border-white" th:text="${persona.dni}"></td  >
<td class="bg-primary text-white border border-white" th:text="${persona.nombre}"></td  >
<td class="bg-primary text-white border border-white">
<a th:href="@{/personas/}+${persona.id}" class="btn btn-info mostrar">  Mostrar   <i class="bi bi-eye"></i></a >
<a th:href="@{/personas/edit/}+${persona.id}" class="btn btn-warning editar">Editar   <i class="bi bi-pencil-square"></i></a >
<a th:href="@{/personas/delete/}+${persona.id}" class="btn btn-danger"> Eliminar   <i class="bi bi-eraser"></i></a >
</td >
</tr  >	
</tbody>
</table >
</div>
<div class="col-lg-2"></div>
</div>
</div>

<footer th:replace="plantilla/template :: footer">
</footer>
</body>
</html>