<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header">
</header>

<!-- Contenido -->
<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8 text-center my-4">
<h1 th:text="${titulo}" class="h1 text-primary"></h1 > <h1 th:text="${persona.nombre}" class="h1 text-primary"></h1 > 
</div>
<div class="col-lg-2"></div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-lg-2">
</div>
<div class="col-lg-8">

<table class="table border border-white my-4">
<thead>
<tr>
<th class="bg-primary text-white border border-white">#</th >
<th class="bg-primary text-white border border-white">DNI</th >
<th class="bg-primary text-white border border-white">Nombre</th >

</tr>
</thead>
<tbody>
<tr>
<td class="bg-primary text-white border border-white" th:text="${persona.id}"></td   >
<td class="bg-primary text-white border border-white" th:text="${persona.dni}"></td  >
<td class="bg-primary text-white border border-white" th:text="${persona.nombre}"></td  >

</tr   >	
</tbody>
</table >
</div>

<a th:href="@{/personas/}" class="btn btn-secondary"><i class="bi bi-arrow-left"> </i>   Volver</a>
<div class="col-lg-2"></div>
</div>
</div>

<footer th:replace="plantilla/template :: footer">
</footer>
</body>
</html>